@charset "UTF-8";

* {
    font-family: 'Times New Roman', Times, serif;

}

body {
    background-image: linear-gradient(to right, #e94fca7c, #f3e6a2);
} 

main {
    background-color: white;
    border-radius: 12px;
    box-shadow: 2px 2px 20px rgba(128, 0, 128, 0.466);
    width: 400px;
    padding: 10px;
    margin: auto;
    
    
}

h1 {
    color: purple;
    text-align: center;
}

h2 {
    color: rgb(189, 27, 189);
}

p {
    text-align: justify;
}